
*.pyc
*.mkv
*.iml
.idea/*
.dist/*
.build/*
src/ak_frame_extractor.egg-info/PKG-INFO
src/ak_frame_extractor.egg-info/dependency_links.txt
src/ak_frame_extractor.egg-info/top_level.txt
src/ak_frame_extractor.egg-info/SOURCES.txt
src/ak_frame_extractor.egg-info/requires.txt
src/ak_frame_extractor.egg-info/PKG-INFO
src/ak_frame_extractor.egg-info/PKG-INFO
src/ak_frame_extractor.egg-info/PKG-INFO
